<mat-card class="example-full-width">
  <mat-card-title class="example-full-width">Register New User</mat-card-title>
  <mat-card-content>
    <form class="form-horizontal" role="form" method="POST" [formGroup]="formGroup">
      <mat-dialog-content>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>verified_user</mat-icon>
          <input matInput placeholder="Full Name" [formControl]="name" required>
          <mat-error *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>phone</mat-icon>
          <input matInput placeholder="Mobile" [formControl]="mobile" required>
          <mat-error *ngIf="mobile.invalid">{{getErrorMessage('mobile')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>face</mat-icon>
          <mat-select placeholder="Gender" [formControl]="gender" required>
            <mat-option value="MALE"> MALE</mat-option>
            <mat-option value="FEMALE"> FEMALE</mat-option>
          </mat-select>
          <mat-error *ngIf="gender.invalid">{{getErrorMessage('gender')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>email</mat-icon>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>remove_red_eye</mat-icon>
          <input type="password" matInput placeholder="Password" [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>remove_red_eye</mat-icon>
          <input type="password" matInput placeholder="Confirm Password" [formControl]="confirmPassword" required>
          <mat-error *ngIf="confirmPassword.invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <!-- <input matInput [matDatepicker]="dateofbirth" placeholder="Start Date" [(ngModel)]="dateofbirth" required> -->

          <input matInput [matDatepicker]="dateofbirth" placeholder="Date of Birth" formControlName="dateofbirth">
          <mat-datepicker-toggle matSuffix [for]="dateofbirth"></mat-datepicker-toggle>
          <mat-datepicker #dateofbirth></mat-datepicker>
          <mat-error *ngIf="dateofbirth.invalid">{{getErrorMessage('dateofbirth')}}</mat-error>
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions class="example-full-width">
        <button [disabled]="loading" class="mat-raised-button mat-primary" (click)="save()"> Register </button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <button class="mat-raised-button" (click)="close()"> Close </button>
      </mat-dialog-actions>
    </form>
  </mat-card-content>
</mat-card>