<form class="form-horizontal" role="form" method="POST" action="/register">
  <div class="row">
    <div class="col-mat-3"></div>
    <div class="col-mat-6">
      <h2>Register New User</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="name">Name</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-user"></i>
          </div>
          <input type="text" name="name" class="form-control" id="name" placeholder="John Doe" required autofocus>
        </div>
      </div>
    </div>
    <div class="col-mat-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          <!-- Put name validation error messages here -->
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="email">E-Mail Address</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-at"></i>
          </div>
          <input type="text" name="email" class="form-control" id="email" placeholder="you@example.com" required autofocus>
        </div>
      </div>
    </div>
    <div class="col-mat-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          <!-- Put e-mail validation error messages here -->
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="password">Password</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group has-danger">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-key"></i>
          </div>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
        </div>
      </div>
    </div>
    <div class="col-mat-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          <i class="fa fa-close"> Example Error Message</i>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="password">Confirm Password</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-repeat"></i>
          </div>
          <input type="password" name="password-confirmation" class="form-control" id="password-confirm" placeholder="Password" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="dateofbirth">Date of Birth</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-repeat"></i>
          </div>
          <input type="dateofbirth" name="date-of-birth" class="form-control" id="date-of-birth" placeholder="dateofbirth" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="education">Education</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-at"></i>
          </div>
          <input type="text" name="education" class="form-control" id="education" placeholder="Highest education" required autofocus>
        </div>
      </div>
    </div>
    <div class="col-mat-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="salary">Salary</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-user"></i>
          </div>
          <input type="text" name="salary" class="form-control" id="salary" placeholder="In Lakhs" required autofocus>
        </div>
      </div>
    </div>
    <div class="col-mat-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          <!-- Put name validation error messages here -->
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="myself">About Myself</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-user"></i>
          </div>
          <textarea name="myself" id="myself" cols="46" rows="3" placeholder="..." required autofocus></textarea>
        </div>
      </div>
    </div>
    <div class="col-mat-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          <!-- Put name validation error messages here -->
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3 field-label-responsive">
      <label for="uploadphoto">Upload Photos</label>
    </div>
    <div class="col-mat-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-at"></i>
          </div>
          <input type="file" class="form-control-file" id="uploadphoto">
        </div>
      </div>
    </div>
    <div class="col-mat-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          <!-- Put e-mail validation error messages here -->
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mat-3"></div>
    <div class="col-mat-6">
      <button type="submit" class="btn btn-success">
        <i class="fa fa-user-plus"></i> Register</button>
    </div>
  </div>
</form>